body {
    overflow-x: hidden;
    padding: 0px;
    margin: 0px;
}
nav {
    height: 60px;
    display:block;
}
nav img {
    display: block;
    height: 40px;
    width: fit-content;
    float: left;
    padding: 10px;
}
@media only screen and (max-width: 1020px) {
    nav a:not(:first-child) {
        display: none;
    }
}
@font-face {
    font-family:'Inter';
    src: url('Inter-var.ttf') format('TrueType');
}
nav a:not(:first-child) {
    display: block;
    float: left;
    width: fit-content;
    font-family: "Inter", Arial;
    color: black;
    box-sizing: border-box;
    padding: 20px;
    text-decoration: none;
    border-bottom: 3px solid white;
    font-weight:500;
    transition: color, border 0.2s;
}
nav a:not(:first-child):hover {
    border-bottom: 3px solid orange;
    color:orange;
}
#mobilenav {
    display: none;
    opacity: 0;
    position: absolute;
    z-index: 3;
    top: 0px;
    right: 0px;
    width: 200px;
    background-color: white;
    border-bottom-left-radius: 10px;
}
#openmobilenav {
    float: right;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin: 5px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    background: none;
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.3s;
}
#mobilenav a {
    font-family: Inter, Arial;
    color: black;
    width: 100%;
    text-decoration: none;
    padding: 10px;
    display: none
}
@media only screen and (max-width: 1020px) {
    nav a:not(:first-child) {
        display:none;
    }
    #mobilenav {
        display: block;
        opacity: 1;
    }
}

#homepagevid {
    width: 100%;
    display: block;
    position: relative;
}
#video-overflow{
    width:100%;
    max-height:800px;
    overflow:hidden;
}
#applybutton {
    position: relative;
    display: inline-block;
    background-color: orange;
    color: black;
    font-family: Inter;
    margin-left: 40px;
    top: -100px;
    z-index: 10;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    transition: background-color 0.2s;
}
#updates-section{
    width:calc(100% - 120px);
    padding:40px;
    display:grid;
    grid-template-columns: 50% 50%;
    gap:40px;
    margin-top:-40px;
}
#updates-section div {
    border-top: 10px solid orange;
    background-color: rgb(243, 243, 243);
    padding: 20px;
    font-family: "Inter", Arial;
    border-radius:5px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
}

#updates-section div a {
    background-color: orange;
    text-decoration: none;
    padding: 10px;
    color: black;
    font-weight: bold;
    font-family: 'Inter';
    align-self: flex-start; 
    transition: background-color 0.2s;
}
#applybutton:hover, #updates-section div a:hover{
    background-color:rgb(219, 143, 0);
}
@media only screen and (max-width: 830px) {
    #updates-section{
        grid-template-columns:100%;
        gap:0;
        width:calc(100% - 80px);
        padding-bottom:0;
    }
    #updates-section div {
        margin-bottom:40px;
    }
}
.descriptor{
    padding:0px 40px;
    font-family:"Inter", Arial;
    font-size:23px;
}
#partners{
    margin:40px;
    margin-top:20px;
}
#partners h1{
    text-align:center;
    width:100%;
    display:block;
    font-size:46px;
    font-family:'Inter', Arial;
    margin:0;
}
.three-grid{
    display:grid;
    grid-template-columns: auto 1px auto 1px auto;
    gap:40px;
    margin-top:20px;
}
.three-grid img {
    width: 100%;
    display: block;
    position: relative;
}
@media only screen and (min-width: 1400px) {
    #updates-section{
        padding:40px 200px;
        width:calc(100% - 400px);
    }
    .descriptor{
        padding:0px 200px;
    }
    .hr-1{
        display:block;
        width:calc(100% - 400px);
        margin-left:200px;
    }
    #partners{
        padding:10px 200px;
    }
    #applybutton{
        margin-left:200px;
    }
}
/*-----------*/
.alternating-grid{
    margin:40px;
}
.alternating-grid div h1{
    padding:40px;
    font-family:"Inter", Arial;
    font-size:3rem;
    font-weight:300;
}
.vid-right, .vid-left{
    max-width:1200px;
    margin-left:auto;
    margin-right:auto;
    display:grid;
    grid-template-columns: auto auto;
}
.vid-right h1{
    display:block;
    text-align:right;
}
.vid-left{
    margin-top:40px;
}
@media only screen and (min-width: 1250px){
    .alternating-grid div h1{
        width:50%;
    }
    .vid-right h1{
        margin-left:calc(50% - 80px);
    }
}
@media only screen and (max-width: 1130px) {
    .alternating-grid div h1{
        font-size:2rem;
    }
    .vid-right iframe, .vid-left iframe{
        width:500px;
    }
}
@media only screen and (max-width: 860px) {
    .vid-right, .vid-left{
        grid-template-columns: 100%;
    }
    .vid-right iframe, .vid-left iframe{
        display:block;
        margin-left:auto;
        margin-right:auto;
        width:100%;
    }
}
/*---------------------*/
.vidcontainer-large-right{
    display:grid;
    grid-template-columns: 30% 70%;
    padding:40px;
}
.vidcontainer-large-right h1{
    font-family:"Inter", Arial;
    font-size:2.5rem;
    font-weight:300;
    padding-right:20px;
}
@media only screen and (min-width: 1400px) {
    .vidcontainer-large-right{
        padding:40px 200px;
    }
}
.vidcontainer-large-right iframe{
    width:100%;
}
@media only screen and (min-width: 900px) {
    .vidcontainer-large-right iframe{
        height:400px;
    }
}
@media only screen and (min-width: 1111px) {
    .vidcontainer-large-right iframe{
        height:500px;
    }
    .vidcontainer-large-right h1{
        font-size:3.5rem;
        padding-right:30px;
    }
}
footer{
    display:grid;
    grid-template-columns: 34% 33% 33%;
    padding:20px 40px;
    background-color:#F3F3F3;
}
footer a{
    display:block;
    width:75%;
    color:black;
    padding:4px;
    float:right;
    font-family:"Inter", Arial;
}
@media only screen and (min-width: 1400px) {
    footer{
        padding:20px 200px;
    }
}
footer a:hover{
    font-weight:bold;
}