body, html{
    margin:0;
    overflow-x:hidden;
    background-color:#222222;
    color:#BBBBBB;
    font-family:monospace;
}
body{
    padding-left:280px;
}
:root{
    --t-b:#049EF4;
    --t:#BBBBBB;
}
#mobile-controls{
    display:none;
}
nav{
    width:260px;
    padding:20px;
    height:100vh;
    position:fixed;
    border-right:1px solid #444444;
    box-sizing:border-box;
    background-color:#222222;
    z-index:1;
    display:block;
    left:0px;
}
nav h1, nav p{
    color:var(--t-b);
}
nav h1{
    margin:-5px 0px;
    font-size:1.4rem;
}
nav h1::after{
    content:"";
    display:block;
    width:260px;
    margin-left:-20px;
    margin-top:10px;
    border-bottom:1px solid #444444;
}
nav p{
    font-size:1.4rem;
    font-weight:500;
    margin-top:30px;
}
nav a{
    display:block;
    width:100%;
    text-decoration:none;
    color:var(--t);
    font-size:1.2rem;
    padding:6px 0px;
}
nav a:hover{
    color:var(--t-b);
}
nav a span {
    border:1px solid gray;
    padding:5px;
    border-radius:5px;
    color: var(--t);
    transition: color 0.2s ease;
}
nav a span:hover {
    color: var(--t-b);
    border: 1px solid var(--t-b);
    box-shadow: 0 0 5px var(--t-b);
}

/*-*/
#projects a img {
    display: block;
    width: 100%;
    transition: transform 0.2s ease; 
}

#projects a {
    display: block;
    overflow: hidden; 
}

#projects a img:hover {
    transform: scale(1.05); 
}
#projects{
    width:calc(100% + 20px);
    display:grid;
    min-height:60px;
    float:right;
    grid-template-columns: repeat(6, calc(100% / 6));
}
@media screen and (max-width: 1600px) {
    #projects{
        grid-template-columns: repeat(5, calc(100% / 5));
    }
}
@media screen and (max-width: 1300px) {
    #projects{
        grid-template-columns: repeat(4, calc(100% / 4));
    }
}
@media screen and (max-width: 900px) {
    #projects{
        grid-template-columns: repeat(3, calc(100% / 3));
    }
}
@media screen and (max-width: 700px) {/*mobile*/
    body{
        padding:0;
        padding-left:20px;
    }
    #dMain{
        padding:0px !important;
        width:95% !important;
    }
    #projects{
        grid-template-columns: repeat(2, calc(100% / 2));
        width:calc(100% + 20px);
        margin-top:50px;
    }
    nav{
        top:50px;
        left:100%;
        border-left:1px solid #444444;
        border-top:1px solid #444444;
    }
    #mobile-controls{
        display:block;
        width:100%;
        height:50px;
        overflow:hidden;
        position:fixed;
        top:0;
        left:0;
        background-color:#222222;
        z-index:1;
    }
    #mobile-controls button{
        float:right;
        padding:6px;
        background:none;
        border:none;
    }
    #mobile-controls button svg{
        transform:translateY(3px);
    }
    #mobile-controls button svg path {
        stroke: var(--t);
    }
    #mobile-controls img{
        height:70%;
        padding:8px;
        float:left;
        display:block;
        border-radius:50%;
    }
    .dMain-intro{
        margin-top:60px;
    }
}
@media screen and (min-width: 701px) {
    nav {
        left: 0;
        top: 0; /* Reset the top position for larger screens */
    }
    #mobile-controls {
        display: none;
    }
}
@media screen and (max-width: 374px) {
    body{
        display:none;
    }
}

@font-face {
    font-family:'Inter';
    src: url('Inter-var.ttf') format('TrueType');
}

/*-*/
#dMain{
    width:calc(100% - 40px);
    padding:20px;
    min-height:100vh;
    padding-bottom:50px;
}
#dMain pre{
    background-color:black;
    padding:10px;
    border-radius:5px;
    margin:0;
}
#dMain button{
    transform:translateY(20px);
    background:none;
    color:gray;
    border:1px solid gray;
    cursor:pointer;
    width:100px;
    border-radius:0;
    text-align:center;
}
#dMain h1{
    font-size:2.5rem;
}
#dMain p{
    font-size:1.5rem;
    font-family:'Inter';
}
#dMain ul, #dMain a{
    font-family:'Inter';
    color:var(--t);
}
#dMain li{
    padding:6px;
}
#dMain button.titlebtn{
    display:block;
    font-size:2rem;
    font-family:monospace;
    border:none;
    color:var(--t);
    width:fit-content;
    text-align:left;
    padding:0;
}
#dMain button.titlebtn::before{
    display:block;
    content:"";
    width:100%;
    height:1px;
    background-color:var(--t);
    margin-bottom:20px;
}
#dMain button.titlebtn::after{
    display:block;
    content:"";
    width:100%;
    height:20px;
}
.titlebtn:hover{
    text-decoration:underline;
}
#dMain img{
    width:65%;
}
@media screen and (max-width: 700px) {/*mobile*/
    #dMain{
        width:90%;
    }
    #dMain img{
        width:100%;
    }
}
@media screen and (min-width: 1000px) {
    #dMain img{
        width:90%;
    }
}
@media screen and (min-width: 1200px) {
    #dMain img{
        height:400px;
        width:auto;
    }
}
#dMain p span{
    border:1px solid var(--t);
    padding:1px 5px;
    border-radius:6px;
    font-family:monospace;
}
/*---*/
#projectIdeas {
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3));
}
#projectIdeas div{
    padding-right:25px;
    padding-bottom:15px;
}
#projectIdeas button{
    width:100%;
    padding:0;
    border:1px solid #444444;
    cursor:pointer;
    background:transparent;
    color:var(--t-b);
}
#projectIdeas button img{
    width:100%;
    background-color:black; /*-change with inline styles per image if needed-*/
}
#projectIdeas .project-description {
    font-size: 20px;
    margin:15px;
    font-family:'Inter', Arial;
    font-weight:700;
}
.project-description-extended{
    font-size:16px;
    font-family:'Inter', monospace;
}
@media screen and (min-width: 1500px) {
    #projectIdeas {
        grid-template-columns: repeat(4, calc(100% / 4));
    }
}
@media screen and (max-width: 1200px) {
    #projectIdeas {
        grid-template-columns: repeat(2, calc(100% / 2));
    }
}
@media screen and (max-width: 860px) {
    #projectIdeas {
        grid-template-columns: 100%;
    }
}
@media screen and (max-width: 700px) {
    .project-description-extended{
        font-size:26px;
    }
}