body, html{
    margin:0;
    overflow-x:hidden;
    background-color:#222222;
    color:#BBBBBB;
    font-family:monospace;
}
body{
    padding-left:280px;    
    overflow-y: auto; /* Ensure body scrolling is enabled */
}
#dMain {
    overflow: hidden;
}

:root{
    --t-b:#049EF4;
    --t:#BBBBBB;
}
#mobile-controls{
    display:none;
}
nav{
    width:260px;
    padding:20px;
    height:100vh;
    position:fixed;
    border-right:1px solid #444444;
    box-sizing:border-box;
    background-color:#222222;
    z-index:1;
    display:block;
    left:0px;
}
nav h1, nav p{
    color:var(--t-b);
}
nav h1{
    margin:-5px 0px;
    font-size:1.4rem;
}
nav h1::after{
    content:"";
    display:block;
    width:260px;
    margin-left:-20px;
    margin-top:10px;
    border-bottom:1px solid #444444;
}
nav p{
    font-size:1.4rem;
    font-weight:500;
    margin-top:30px;
}
nav a{
    display:block;
    width:100%;
    text-decoration:none;
    color:var(--t);
    font-size:1.2rem;
    padding:6px 0px;
}
nav a:hover{
    color:var(--t-b);
}
nav a span {
    border:1px solid gray;
    padding:5px;
    border-radius:5px;
    color: var(--t);
    transition: color 0.2s ease;
}
nav a span:hover {
    color: var(--t-b);
    border: 1px solid var(--t-b);
    box-shadow: 0 0 5px var(--t-b);
}

/*-*/
#projects a img {
    display: block;
    width: 100%;
    transition: transform 0.2s ease;
    border:1px solid #444444;
    border-left:none;
    box-sizing:border-box;
}

#projects a {
    display: block;
    overflow: hidden; 
}

#projects a img:hover {
    transform: scale(1.05); 
}
#projects{
    width:calc(100% + 20px);
    display:grid;
    min-height:60px;
    float:right;
    grid-template-columns: repeat(6, calc(100% / 6));
}
@media screen and (max-width: 1600px) {
    #projects{
        grid-template-columns: repeat(5, calc(100% / 5));
    }
}
@media screen and (max-width: 1300px) {
    #projects{
        grid-template-columns: repeat(4, calc(100% / 4));
    }
}
@media screen and (max-width: 900px) {
    #projects{
        grid-template-columns: repeat(3, calc(100% / 3));
    }
}
@media screen and (max-width: 700px) {/*mobile*/
    body{
        padding:0;
        padding-left:20px;
    }
    #dMain{
        padding:0px !important;
        width:95% !important;
    }
    #projects{
        grid-template-columns: repeat(2, calc(100% / 2));
        width:calc(100% + 20px);
        margin-top:50px;
    }
    nav{
        top:50px;
        left:100%;
        border-left:1px solid #444444;
        border-top:1px solid #444444;
    }
    #mobile-controls{
        display:block;
        width:100%;
        height:50px;
        overflow:hidden;
        position:fixed;
        top:0;
        left:0;
        background-color:#222222;
        z-index:1;
    }
    #mobile-controls button{
        float:right;
        padding:6px;
        background:none;
        border:none;
    }
    #mobile-controls button svg{
        transform:translateY(3px);
    }
    #mobile-controls button svg path {
        stroke: var(--t);
    }
    #mobile-controls img{
        height:70%;
        padding:8px;
        float:left;
        display:block;
        border-radius:50%;
    }
    .dMain-intro{
        margin-top:60px;
    }
}
@media screen and (min-width: 701px) {
    nav {
        left: 0;
        top: 0; /* Reset the top position for larger screens */
    }
    #mobile-controls {
        display: none;
    }
}
@media screen and (max-width: 374px) {
    body{
        display:none;
    }
}

@font-face {
    font-family:'Inter';
    src: url('Inter-var.ttf') format('TrueType');
}

/*-*/
#dMain{
    width:calc(100% - 40px);
    padding:20px;
    min-height:100vh;
    padding-bottom:50px;
}
#dMain pre{
    background-color:black;
    padding:10px;
    border-radius:5px;
    margin:0;
}
#dMain video{
    margin:20px 0px;
}
#dMain button{
    transform:translateY(20px);
    background:none;
    color:gray;
    border:1px solid gray;
    cursor:pointer;
    width:100px;
    border-radius:0;
    text-align:center;
}
#dMain h1{
    font-size:2.5rem;
}
#dMain p{
    font-size:1.5rem;
    font-family:'Inter';
}
#dMain ul, #dMain a{
    font-family:'Inter';
    color:var(--t);
}
#dMain li{
    padding:6px;
}
#dMain button.titlebtn{
    display:block;
    font-size:2rem;
    font-family:monospace;
    border:none;
    color:var(--t);
    width:fit-content;
    text-align:left;
    background-color:black;
    padding:20px;
    border-radius:10px;
}
.titlebtn:hover{
    text-decoration:underline;
}

#dMain img, #dMain video{
    width:65%;
}
@media screen and (max-width: 700px) {/*mobile*/
    #dMain{
        width:90%;
    }
    #dMain img, #dMain video{
        width:100%;
    }
}
@media screen and (min-width: 1000px) {
    #dMain img, #dMain video{
        width:90%;
    }
}
@media screen and (min-width: 1200px) {
    #dMain img, #dMain video{
        height:400px;
        width:auto;
    }
}
#dMain p span{
    border:1px solid var(--t);
    padding:1px 5px;
    border-radius:6px;
    font-family:monospace;
}
/*---*/
#projectIdeas {
    display: grid;
    grid-template-columns: repeat(3, calc(100% / 3));
}
#projectIdeas div{
    padding-right:25px;
    padding-bottom:15px;
}
#projectIdeas button{
    width:100%;
    padding:0;
    border:1px solid #444444;
    cursor:pointer;
    background:transparent;
    color:var(--t-b);
}
#projectIdeas button img{
    width:100%;
    background-color:black;
}
#projectIdeas .project-description {
    font-size: 20px;
    margin:15px;
    font-family:'Inter', Arial;
    font-weight:700;
}
.project-description-extended{
    font-size:16px;
    font-family:'Inter', monospace;
}
@media screen and (min-width: 1500px) {
    #projectIdeas {
        grid-template-columns: repeat(4, calc(100% / 4));
    }
}
@media screen and (max-width: 1200px) {
    #projectIdeas {
        grid-template-columns: repeat(2, calc(100% / 2));
    }
}
@media screen and (max-width: 860px) {
    #projectIdeas {
        grid-template-columns: 100%;
    }
}
@media screen and (max-width: 700px) {
    .project-description-extended{
        font-size:26px;
    }
}
/*-------------------------------------------------------------------*/
#resourcelist {
    margin-left: 30px;
  }
  
  .resource-button {
    width: fit-content;
    margin-top: 10px;
    font-size: 30px;
    font-family: monospace;
    background: none;
    color: var(--t);
    border: none;
    text-align: left;
    padding-left: 1em;
    position: relative;
    padding-top: 0;
    padding-bottom: 0;
    transform:translateX(-30px);
  }
  

  .resource-button::before {
    content: "#";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;    
    transition: opacity 0.1s ease-in-out; 
    color:var(--t-b);
  }
  
  /* Hover effects */
  .resource-button:hover {
    cursor:pointer;
  }
  
  .resource-button:hover::before {
    opacity: 1;  
  }
#resourcelist .tags{
    font-size:15px;
    margin-top:20px;
}
#resourcelist div {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    flex-wrap: wrap; 
  }
  #resourcelist li {
    display: flex;
    align-items: top;
    gap: 8px; 
    font-family:'Inter', Arial;
    margin-top:14px;
}
#resourcelist li::before {
    content:"";
    display:block;
    width:6px;
    height:6px;
    border-radius:50%;
    background-color:var(--t);
    position:absolute;
    transform:translateX(-18px) translateY(8px);
    
}
#resourcelist li a {
    flex-shrink: 0; 
    text-decoration:none;
    color:var(--t-b);
}

#resourcelist li span.extra-text {
    display: inline;
    color: var(--t);
}
ul.resource-links{
    padding-left:20px;
}
.extra-text::before{
    content:" - "
}
/*----------------------------------------------*/

.windowcontainer {
    width: 100%;
    margin-top: 30px;
    padding-top: 0px;
    box-sizing: border-box;
    position: relative;
}
#dMain .buttonselections{
    display:grid;
}
.buttonselectionsafter{
    color:black;
    border:1px solid black;
    margin:-2px 0px
}
#dMain .buttonselections button {
    transform: translateY(0px);
    width: fit-content;
    height:30px;
    margin: 0;
    margin-left:28px;
    background-color: black;
    color: var(--t);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: monospace;
    font-size: 1.3rem;
    font-weight: 800;
    border:none;
    opacity:1;
    transition: opacity 0.1s ease-out;
}
#dMain .buttonselections button::before{
    content:" + ";
    background-color:rgb(26, 26, 26);
    position:absolute;
    left:-28px;
    top:1px;
    line-height:1.4;
    width:25px;
    display:block;
    height:25px;
    border-radius:50%;
}
#dMain .buttonselections button:hover {
    opacity:0.8;
}

.windowcontainer-objects > *:not(:first-child) {
    display:none;
}
.threeIframe{
    height:50px;
    overflow:hidden;
}
.threeIframe:hover{
    height:fit-content;
}
.threeIframe iframe{
    height:500px;   
    width:100%;
    border:none;
}
.threeIframe p{
    width:100%;
    text-align:center;
}
green{
    color:rgb(88, 211, 88);
}
white{
    color:white;
}
pre code span{
    background-color:rgb(50, 48, 77);
    padding:2px 5px;
}
darker{
    color:#444444;
}
/*--------------------------THISPARTSGONNATAKEFOREVER--------------*/
/*beginning:5:22 PM*/
/*end: 9:05 PM*/
.code-editor{
    display:grid;
    width:100%;
    outline:1px solid #444444;
    grid-template-columns:190px 50% auto;
    gap:1px;
    background-color:#444444;
    min-width:400px;
}
.code-editor div{
    background-color: #222222;
}
/* Only apply flex to the first column's div */
.code-editor > div:nth-child(-n+3) {
    display: flex;
    align-items: center;
}
.code-editor div svg{
    width: 20px;
    padding: 5px 10px;
}
.code-editor div span{
    display: inline-block;
}
.code-editor > div:nth-child(3) {
    display:grid;
    grid-template-columns:42px auto 50px;
}
span.url-name{
    width:calc(100% - 20px);
    background-color:#444;
    padding:2px 10px;
    border-radius:5px;
    padding-bottom:3px;
}
.url-anchor-link {
    display: flex;
    align-items: center;
    justify-content: center; 
}
#dMain .code-editor > div:nth-child(4){
    height:auto;
    width:190px;
}
#dMain .code-editor button{
    transform: translateY(0px);
    border:none;
    color:var(--t);
    padding:5px 0px;
    overflow:hidden;
    white-space: nowrap;
    font-size:15px;
}
#dMain button.file-folder-shown{
    padding:8px 0px;
}
#dMain button.file, button.file-folder-shown{
    width:100% !important;
    display:block;
    color:var(--t);
    text-align:left !important;
    text-indent:8px;
}
#dMain button.file:hover{
    background-color:#444444;
}
#dMain button.file::before{
    content:"";
    display:inline-block;
    width:15px;
    height:15px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 512 512'%3E%3Cpath fill='none' stroke='%23BBBBBB' stroke-linejoin='round' stroke-width='32' d='M416 221.25V416a48 48 0 0 1-48 48H144a48 48 0 0 1-48-48V96a48 48 0 0 1 48-48h98.75a32 32 0 0 1 22.62 9.37l141.26 141.26a32 32 0 0 1 9.37 22.62Z'/%3E%3Cpath fill='none' stroke='%23BBBBBB' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='M256 56v120a32 32 0 0 0 32 32h120'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 5px;
    margin-top:-2px;

}
#dMain .code-editor button.file-folder-shown::before{
    content:"";
    display:inline-block;
    width:15px;
    height:15px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1em' height='1em' viewBox='0 0 24 24'%3E%3Cpath fill='%23BBBBBB' d='m14.475 12l-7.35-7.35q-.375-.375-.363-.888t.388-.887t.888-.375t.887.375l7.675 7.7q.3.3.45.675t.15.75t-.15.75t-.45.675l-7.7 7.7q-.375.375-.875.363T7.15 21.1t-.375-.888t.375-.887z'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 5px;
    margin-top:-2px;
    transform: rotate(0deg);
}
.file-folder-hidden{
    margin-left:25px;
    display:none;
}
#dMain .code-editor > div:nth-child(6) img{
    display:block;
    width:100% !important;
    max-width:200px;
    height:auto;
    margin-left:auto; margin-right:auto;
}
.code-output-smallscreen{
    display:none;
    outline:1px solid #444;
}
.code-output-smallscreen::before{
    content:"output";
    background-color:#444;
    border-bottom-right-radius: 10px;
    padding:4px;
    padding-top:0px;
}
@media screen and (max-width: 1260px) {
    .code-editor{
        grid-template-columns:110px 40% auto;
    }
    #dMain .code-editor > div:nth-child(4){
        width:110px;
    }
    #dMain .code-editor button{
        font-size:12px;
    }
}
@media screen and (max-width: 980px) {
    .url-name{
        font-size:10px;
        padding-bottom:2px;
    }
    .code-editor > div:nth-child(3) svg{
        display:none;
    }
    .code-editor > div:nth-child(3) {
        display: flex; 
        align-items: center; 
        justify-content: center; 
        height: 100%;
        padding:0px 10px;
    }
}
@media screen and (max-width: 800px){
    .code-editor{
        grid-template-columns:110px auto 0px;
    }
    .code-output-smallscreen{
        display:block;
    }
    #dMain .code-editor > div:nth-child(3){
        opacity:0;
    }
    #dMain .container-editor > div:nth-child(6) img, #dMain .container-editor img{
        width:30% !important;
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
}
.code-content iframe{
    width:100%;
    height:100%;
    border:none;
}
@media screen and (max-width: 700px){
    .container-editor{
        margin-left:1px;
        width:calc(100% - 2px);
    }
}
/*------------------------------*/